@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

.header-shadow
{
    box-shadow: -1px -1px 20px 0px black;
}
.bg-black {
    background-color: #000;
}

.brand-pink
{
    color: #e75151;
    font-size: 2em;
    padding: 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-family: 'East Sea Dokdo', cursive;
}