<app-header></app-header>
<div class="row " id="introDiv">
  <h1 class="brand-header">Welcome to <span class="brand-pink">THE MOVIE APP..</span></h1>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <img class="img-responsive movie-img" src="../assets/cap.jpg" />
        <div class="card-content">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="img-responsive movie-img" src="../assets/cap.jpg" />
        <div class="card-content">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

