@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

#introDiv
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.82)), 
                      url('../assets/cover_img.jpg');
    background-size: cover;
    min-height: 700px;
}

.card-body
{
    display: inline-flex;
    .movie-img
    {
        width: 185px;
        height: 278px;
    }
    .card-content
    {
        padding-left: 10px;
    }
    
}
.popular-section
{
    position: relative;
    margin-top: -90px;
    background-color: white;
}
.section-header
{
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
}
.movie-card
{
    padding: 0;
    margin-top: 10px;
    .card-body
    {
        width: 200px;
        padding: 5px 0px 5px 0px;
    }
}
.brand-header
{
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1em;
    margin: 0 0 30px;
    position: relative;
    padding-top: 20%;   
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
